.InfoCountries {
    width: 60%;
    height: 600px;
    border: 1px solid black;
    margin: 10px;
    float: right;
    position: fixed;
}
.info {
    float: left;
    margin: 20px;
    text-align: left;
    width: 250px;
}
.flag {
    width: 200px;
    float: right;
    margin: 20px;
}